p {font-size: 10pz;}
p{color:red;}
#second {color:blue;}

#third {color:green;}
body {background-color: lightblue;}

#cuarto {color: purple; font-size: 50px;}

#quinto {color: white; font-size: small;}
 
#six {color: yellow; font-size: large; text-align: center; }

#seven { color: violet; font-weight: bold;}

#eigth{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

#nine {
    color: orange;
    font-size: 40px;
    font-weight: bold;
}

.styledfont {
    color: mediumaquamarine;
    background-color: orange;
    border-style: dotted;
    border-width: 2px;
    border: 1px solid black;
    padding: 25px 50px 75px 100px;
}